
.QuizType {
    background: rgba(217, 231, 39, 0.5);
    z-index: 1;
    border-radius: 10px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }

.QuizType img{
    /* position: relative; */
    /* idth: 100%; Ширина изображений */
    /* height: 100%; Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}